
	<% if (advertisements) { %>
		<% advertisements.forEach((advertisement) => { %>
			<% if (advertisement.isSale === true) { %>
				<a href="" class="ad sell">
			<% } else { %>
				<a href="" class="ad buy">
			<% } %>

					<figure class="ad-image">
						<img src="<%= advertisement.photo %>" alt="">
						<figcaption>
							<h4 class="ad-title"><%= advertisement.title %></h4>
								<div class="ad_tags">
									<% advertisement.tags.forEach((tag) => { %>
										<span><%= tag %></span>
									<% }) %>
								</div>

							<div class="ad_details">
								<div class="ad_type">
									<% if (advertisement.isSale === true) { %>
										<span>se vende</span>
									<% } else { %>
										<span>se busca</span>
									<% } %>
								</div>

								<div class="ad_price">
									<span><%= advertisement.price %></span>
									<span>€</span>
								</div>
							</div>
						</figcaption>
					</figure>
				</a>
		<% }) %>
	<% } %>

	<% if (total || total === 0) { %>
		<span id="pagination-info" data-type="paginationInfo" data-total="<%= total %>"><%= total %></span>
	<% } %>
